<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overwolf Duel Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
<div class="sidebar">
    <div class="profile-icon-wrapper">
        <img src="./icons/profile.png" alt="profile" width="120">
        <img id="verified" src="../assets/verified.png" alt="tick">
    </div>

    <div class="name">Your profile: <div id="username"></div></div>
    <div class="name">Discord: <div id="discordUsername"></div></div>

    <div class="buttons">
        <button id="friends" class="btn friends">Friends</button>
        <button class="btn search">Search</button>
    </div>
</div>

<div class="content">
    <div class="table-container">
        <h1>Last Games Data</h1>
        <div class="scrollable">
            <table id="lastGamesTable">
                <thead>
                <tr>
                    <th>Game</th>
                    <th>Date</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody id="lastGamesTableBody">
                <!-- Dynamic rows will be added here -->
                </tbody>
            </table>
            <div id="noLastGamesMessage" class="no-data no-data-message">
                No data
            </div>
        </div>
    </div>

    <div class="table-container">
        <h1>Tournaments Data</h1>
        <div class="scrollable">
            <table id="tournamentsTable">
                <thead>
                <tr>
                    <th>Tournament</th>
                    <th>Date</th>
                    <th>Position</th>
                </tr>
                </thead>
                <tbody id="tournamentsTableBody">
                <!-- Dynamic rows will be added here -->
                </tbody>
            </table>
            <div id="noTournamentsMessage" class="no-data no-data-message">
                No data
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="profile.js"></script>

</body>
</html>
